.Projects {
    width: 480px;
    height: 360px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    z-index: 3;
}

.Projects:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.25);
}

.Projects:hover img {
    transform: translateY(-20px);
}

.Projects img {
    position: absolute;
    top: 0;
    height: 110%;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    opacity: 1;
    z-index: -1;
}

.Projects h3 {
    color: white;
    font-weight: 500;
    font-size: 30px;
    margin: 20px 0 0 20px;
    width: 450px;
}

.Projects p {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    align-items: end;
    margin: 255px 0 20px 20px;
}


.CardGroup {
    margin: 50px 40px 100px; 
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 60px;
}